<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>controller</servlet-name>
        <servlet-class>controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ctrlkhachhang</servlet-name>
        <servlet-class>Ctrl.Ctrlkhachhang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CtrlSP</servlet-name>
        <servlet-class>Ctrl.CtrlSP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CtrlSanpham</servlet-name>
        <servlet-class>Ctrl.CtrlSanpham</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Kiemtradangnhap</servlet-name>
        <servlet-class>Ctrl.Kiemtradangnhap</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CtrlProducts</servlet-name>
        <servlet-class>Ctrl.CtrlProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SanPhamlaptop</servlet-name>
        <servlet-class>Ctrl.SanPhamlaptop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dangki</servlet-name>
        <servlet-class>Ctrl.Dangki</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ctrlDangki</servlet-name>
        <servlet-class>ctrlDangki</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CtrlDKTK</servlet-name>
        <servlet-class>Ctrl.CtrlDKTK</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ctrlacount</servlet-name>
        <servlet-class>Ctrl.Ctrlacount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CtrlAccount</servlet-name>
        <servlet-class>Ctrl.CtrlAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User</servlet-name>
        <servlet-class>Ctrl.User</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ctrluser</servlet-name>
        <servlet-class>Ctrl.Ctrluser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showsp</servlet-name>
        <servlet-class>Ctrl.showsp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadServlet</servlet-name>
        <servlet-class>FileUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>Ctrl.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Upload</servlet-name>
        <servlet-class>Ctrl.Upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HotroKH</servlet-name>
        <servlet-class>Ctrl.HotroKH</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ctrldanhmucsanpham</servlet-name>
        <servlet-class>Ctrl.Ctrldanhmucsanpham</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CtrlCartbean</servlet-name>
        <servlet-class>Ctrl.CtrlCartbean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CtrlThanhtoan</servlet-name>
        <servlet-class>Ctrl.CtrlThanhtoan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ctrllienhe</servlet-name>
        <servlet-class>Ctrl.Ctrllienhe</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controller</servlet-name>
        <url-pattern>/controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ctrlkhachhang</servlet-name>
        <url-pattern>/Ctrlkhachhang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlSP</servlet-name>
        <url-pattern>/CtrlSP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlSanpham</servlet-name>
        <url-pattern>/CtrlSanpham</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Kiemtradangnhap</servlet-name>
        <url-pattern>/Kiemtradangnhap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlProducts</servlet-name>
        <url-pattern>/CtrlProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SanPhamlaptop</servlet-name>
        <url-pattern>/SanPhamlaptop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dangki</servlet-name>
        <url-pattern>/Dangki</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ctrlDangki</servlet-name>
        <url-pattern>/ctrlDangki</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlDKTK</servlet-name>
        <url-pattern>/CtrlDKTK</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ctrlacount</servlet-name>
        <url-pattern>/Ctrlacount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlAccount</servlet-name>
        <url-pattern>/CtrlAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User</servlet-name>
        <url-pattern>/User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ctrluser</servlet-name>
        <url-pattern>/Ctrluser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showsp</servlet-name>
        <url-pattern>/showsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadServlet</servlet-name>
        <url-pattern>/FileUploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Upload</servlet-name>
        <url-pattern>/Upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HotroKH</servlet-name>
        <url-pattern>/HotroKH</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ctrldanhmucsanpham</servlet-name>
        <url-pattern>/Ctrldanhmucsanpham</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlCartbean</servlet-name>
        <url-pattern>/CtrlCartbean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlThanhtoan</servlet-name>
        <url-pattern>/CtrlThanhtoan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ctrllienhe</servlet-name>
        <url-pattern>/Ctrllienhe</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
