.conten{
	background:url(../Images/back_glossy.png);
	width:788px;
	border:#CCC solid 0.1px;
	height:600px;
	overflow:auto;
	margin-left:6px;
	border-radius:10px;
       
       
	
}
.searchtk{
	border:#06F solid 1px;
	width:300px;
	height:38px;
	margin-left:300px;
	margin-top:50px;
}
    .icongiohang{
 width: 40px;
 height: 40px;
 float: left;
 margin-left: 50px;


}

